<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>

  <title>Seni Budaya dan Ekstrakurikuler</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/Logo_Sb_Dan_Eskul_1-removebg-preview.png" rel="icon">
  <link href="assets/img/Logo_Sb_Dan_Eskul_1-removebg-preview.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  

  <!-- =======================================================
  * Template Name: BizLand - v3.10.0
  * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html"><img src="assets/img/Group 4.png" class="img-fluid" alt=""></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Tentang</a></li>
          <li><a class="nav-link scrollto" href="#senbud">Senbud</a></li>
          <li><a class="nav-link scrollto" href="#eskul">Eskul</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    
    <div class="container d-flex align-items-center justify-content-between" data-aos="zoom-out" data-aos-delay="100">
      <div>
        <div class="container-teks">
          <h1>Kembangkan <span class="position-relative"><img class="position-absolute top-0 start-0 bottom-0 end-0 z-n1  " src="assets/img/Ellipse 2.png"/>Minat</span>
          <img src="assets/img/Star 1.png"><span>Bakatmu</span> di</h1>
          <h1>SMK Wikrama Bogor</h1>
          <p>Seluruh Pelajar SMK Wikrama Bogor wajib mengikuti salah </p>
          <p>satu Eskul dan Senbud. Hal ini bertujuan untuk menambah serta  </p><p>mengambangkan Minat serta Bakat siswa wikrama Bogor</p>
        </div>
        <div class="d-flex">
          <a href="#about" class="btn-get-started scrollto">Masuk</a>
          <a href="#about" class="btn-get-started-1 scrollto mx-2">Daftar</a>
        </div>
      </div>
      <img src="assets/img/Group 25.svg" class="img-hero"/>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        
        <div class="row justify-content-center">
          
          <div class="col-lg-6">
            <div class="section-title">
              <h1 class="text-start"><img src="assets/img/Star 2.png" class="img-section"> Tentang <img src="assets/img/Line 1.png" class="img-section"> </h1>
            </div>
            <div class="pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
              <p class="section-text">
                <b>Seni Budaya dan Ekstrakurikuler adalah </b>kegiatan eskul wajib yang ditunjukan untuk melestarikan Budaya bangsa indonesia. Eskul juga ditujukan untuk siswa untuk mengambangkan bakat serta minat bakat mereka. 
              <b>Seluruh Peserta didik kelas X wajib memilih dan mengikuti salah satu dari Eskul dan Seni Budaya yang sesuai dengan Minat dan Bakat mereka.</b></p>
              
              <div class="section-bottom">
              <p class="section-quotes text-end">“Art is a diverse range of human activity, and resulting product, that involves creative or imaginative talent expressive of technical proficiency, beauty, emotional power, or conceptual ideas.”</p>
              <h3 class="section-name text-end">Elvia Roza</h3>
              <p class="section-quotes-1 text-end"><b>Koordinator</b> Seni Budaya dan Ekstrakurikuler SMK Wikrama Bogor</p>
              </div>
            </div>
          </div>
          <img src="assets/img/Group 8 (1).svg" class="img-section-1 float-end"/>
        </div>
      </div>
    </section><!-- End About Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <img src="assets/img/mic.png" class="service-img"/>
              <h4><a class="card-text">Seni</a></h4>
              <p>Eskul Seni Budaya meliputi Seni Rupa, Seni Suara, Band, Seni Tari, Teater, dan Seni Musik</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <img src="assets/img/balls.png" class="service-img"/>
              <h4><a class="class-text">Olahraga</a></h4>
              <p>Eskul Olahraga maliputi Basket, Futsal, Volly, Taekwondo, Karate, Paskibra, Silat.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <img src="assets/img/brain.png" class="service-img"/>
              <h4><a class="class-text">Kejuruan</a></h4>
              <p>Eskul Kejuruan meliputi RPL (Phyton, Unity, dll), TKJ (Robotik, dll)</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

  <section>
    <div class="wrapper">
      <div id="app" v-bind:class="{ 'has-modal': modal }">
        <div class="gallery">
          <div class="gallery__item" v-for="item, index in gallery" v-bind:key="item.id" v-on:click="openModal(index)">
            <div class="thumbnail"><img class="thumbnail__img" v-bind:src="item.imgUrl" v-bind:alt="item.title"/></div>
          </div>
        </div>
        <transition name="fade">
          <div class="modal__backdrop" v-if="modal" v-on:click="closeModal">
            <div class="wrapper modal__wrapper">
              <div class="modal"><img class="modal__img" v-bind:src="modal.imgUrl" v-bind:alt="modal.title"/>
                <article class="modal__content">
                  <h1>{{ modal.title }}</h1>
                  <p>{{ modal.content }}</p>
                </article><a class="modal__close-btn" v-on:click="closeModal">Close</a>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>
  </section>
    
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>BizLand<span>.</span></h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

   
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>